*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


body{
    background-image: url(../img/calculadora.png);
    background-position: center;
    background-size: cover;
    color: aliceblue;
    background-size: 100vw;
}

h1{
    color: aliceblue;
    margin: 1rem 0 1rem;    
}

.fundo{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.calculadora{
    position: absolute;
    top: 20%;
    background-color: rgba(10, 10, 10, 0.95);
    border-radius: 15px;
    padding: .9rem;
}

td{
    padding: .1rem;
}

.button{
    padding: 1rem;
    background-color: rgb(41, 39, 39);
    color: antiquewhite;
    font-size: large;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    text-align: center;
}

.button:hover{
    background-color: rgb(10, 10, 10);
    color: aliceblue;
}

#resultado{
    width: 245px;
    height: 40px;
    background-color: aliceblue;
    margin-bottom: .7rem;
    text-align: right;
    color: black;
    font-size: 35px;
    justify-content: center;
}

#H{
    background-color: rgb(41, 39, 39);
    color: antiquewhite;
    font-size: large;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    margin: 2rem;
}

#H:hover{
    background-color: rgb(10, 10, 10);
    color: aliceblue;
}

a{
    color: aliceblue;
}